.emailList{
    flex: 1;
    overflow: scroll;
    border-top-left-radius: 20px;
    background-color: white;
    border-top-right-radius: 20px;
}
.emailList__settings{
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 999;
    position: sticky;
    border: 1px solid white;
    padding-right: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.emailList__section{
    display: flex;
    top: 0;
    position: sticky;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}
.emailList::-webkit-scrollbar{
    display: none;
}
.emailList{
    -ms-overflow-style: none;
    scrollbar-width: none;
}